html, body {
    background-color: grey;
}

.test {
    border:blue solid 1px;
}

.test2 {
    border:red solid 1px;
}

.test3 {
    border:green solid 1px;
}

/* ================ *
 * Section - Header *
 * ================ */

.navbar-button-style {
    position: absolute;
    left: 10px;
    top: 0px;
}

.box-language > select {
    width: 50px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 5px;
}